


.container {
	background-color: #FCFCFC;
	margin: 0 auto;
	width: 90%;
	max-width: 1400px;

	display: grid;
	grid-template-columns: 1fr 1fr;
}

.container > * {
	font-family: 'Outfit', sans-serif;
	padding: 20px;

	display: flex;
    justify-content: center ;
    align-items: center;



}

h1 {
	font-family: 'Outfit', sans-serif;
	font-size: 3em;
    filter: drop-shadow(0 0.5rem 0.25rem rgba(0, 0, 0, 0.2));
	color: #444;


}

h2 {

	color: #333;
}

/* start nav */
nav {
	grid-column: 1/3;
	filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.2));

}

ul {
	display: flex;
	border-top: 2px solid #666;
	width: 100%;
	justify-content: flex-end;
}

li {
	list-style-type: none;
	font-size: 14px;
	margin: 0px;
	padding: 1.8em;

}

nav a {
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	transition: border-bottom 300ms;


	font-size: 1.1em;
	color: #666;
	text-transform: uppercase;

}

/*
 .hidden-color-1:hover{
	top: 0;
	margin: 0;
	transition: border-bottom 200ms;
	border-bottom: 2px solid orange;
}

.hidden-color-2:hover{
	border-bottom: 2px solid rgb(255, 0, 157);
}

*/

 li.hidden-color-1 > a:hover{
	border-bottom: 1px solid rgb(255, 0, 149);
 }
 li.hidden-color-2 > a:hover{
	border-bottom: 1px solid rgb(255, 102, 0);
 }
 li.hidden-color-3 > a:hover{
	border-bottom: 1px solid rgb(13, 112, 0);
 }
 li.hidden-color-4 > a:hover{
	border-bottom: 1px solid rgb(0, 102, 255);
 }


/* end nav */


/* start about me  */

header > *{
	text-align: center;
	max-width: 100%;
	flex: 0 1 400px;
}

.about-me p {
	text-align: justify;
}



/* start main section */
main {
	flex-wrap: wrap;
	grid-column: 1/3;
}

/* targeting children of main with flex grow-shrink-basis 
CHANGE THIS DEPENDING ON CONTENT - READ MORE ABOUT IT.
*/

main > * {
	flex: 1 0 400px;
}











@media (max-width: 700px) {
	.container {
		display: initial;
	}

	nav > * {
		display: block;
		padding: 3px;
		margin: 0 auto;
		
	}

	nav li {
		padding: 10px;
	}
}