


.container {
	background-color: #FCFCFC;
	margin: 0 auto;
	width: 90%;
	max-width: 1400px;

	display: grid;
	grid-template-columns: 1fr 1fr;
}

.container > * {
	font-family: 'Oranienbaum', serif;
	padding: 20px;

	display: flex;
    justify-content: center ;
    align-items: center;



}

h1 {
	font-family: 'Special Elite', cursive;
	text-shadow: 2px 2px #ffb300;
	color: #444;


}

h2 {

	color: #333;
}

/* start nav */
nav {
	grid-column: 1/3;

}

ul {
	display: flex;
	border-top: 2px solid #666;
	width: 100%;
	justify-content: flex-end;
}

li {
	list-style-type: none;
	font-size: 14px;
	margin: 0px;
	padding: 1.8em;

}

nav a {
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	transition: border-bottom 300ms;


	font-family: 'Lekton', sans-serif;
	font-size: 1.1em;
	color: #666;
	text-transform: uppercase;

}

.nav-list a:hover:nth-child(2){
	border-bottom: 2px solid orange;
}

/* end nav */


/* start about me  */

header > *{
	text-align: center;
	max-width: 100%;
	flex: 0 1 400px;
}

.me-fall-2022 {
	width: 230;
	height: 254;
	border-radius: 50%;
}




/* start main section */
main {
	flex-wrap: wrap;
	grid-column: 1/3;
}

/* targeting children of main with flex grow-shrink-basis 
CHANGE THIS DEPENDING ON CONTENT - READ MORE ABOUT IT.
*/

main > * {
	flex: 1 0 400px;
}











@media (max-width: 700px) {
	.container {
		display: initial;
	}

	nav>* {
		display: block;
		text-decoration: none;
		padding: 5px;
	}
}